<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<span class="footer__copy">
				&copy; 2022 Infinity
			</span>
			<ul class="footer__nav">
				<li class="footer__nav-item">
					<a class="footer__nav-link" href="/explore">Explore</a>
				</li>
				<li class="footer__nav-item">
					<a class="footer__nav-link" href="/stats">Stats</a>
				</li>
			</ul>
			<span class="footer__developer">
				Developed by
				<a href="https://github.com/kubarenatioN" target="_blank">
					kubarenatioN
				</a>
			</span>
		</div>
	</div>
</footer>