<header class="header">
	<div class="container">
		<nav class="header__inner">
			<a [routerLink]="['/']">
				<img src="assets/logo.svg" alt="" class="logo">
			</a>
			<ul class="header__nav">
				<li class="header__nav-item">
					<a class="header__nav-link" [routerLink]="['/explore']">Explore</a>
				</li>
				<li class="header__nav-item">
					<a class="header__nav-link" [routerLink]="['/create']">Create</a>
				</li>
			</ul>
			<a [routerLink]="['/profile']" class="profile">
				Profile
			</a>
		</nav>
	</div>
</header>