<div class="product__wrapper">
	<div class="container">
		<ng-container *ngIf="product$ | async as product">

			<div class="product">
				<div class="product__top">
					<div class="product__image">
						<img src="http://localhost:3002/db/images/products/{{product.collectionId}}/{{product.img}}" alt="">
					</div>
					<div class="product__content">
						<div class="product__heading">
							<h2 class="product__title title">
								{{product.name}}
							</h2>
							<span class="product__subheading-id">
								#{{product.id}}
							</span>
						</div>
						<div class="product__price-wrapper">
							<span>Last Price:</span>
							<span class="product__price">{{product.price}} ETH</span>
						</div>
						<a 
							[routerLink]="['']"
							[queryParams]="{id: product.id}" 
							class="product__purchase">
							Buy now
						</a>

						<p class="a-label">Attributes:</p>
						<ul class="product__props">
							<li 
							*ngFor="let a of attributesMap$ | async"
							class="product__prop">
								<span class="prop">{{a[0]}}: </span>
								<span class="value">{{a[1]}}</span>
							</li>
						</ul>
					</div>
				</div>

				<div class="product__other">
					<h3 class="product__other-title">
						Other from this collection
					</h3>
					<swiper
						class="product__other-slider"
						[config]="(config$ | async) || {}">
						<ng-template 
							*ngFor="let p of otherProducts$ | async | slice:0:5"
							swiperSlide>
							<div class="slide-wrapper">
								<app-nft-card [item]="p"></app-nft-card>
							</div>
						</ng-template>
					</swiper>
				</div>
			</div>

		</ng-container>

	</div>
</div>