.collections {
	&__wrapper {
		padding: 60px 0;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 30px 0;
	}
	&__list-item {
		width: 31%;
		margin-bottom: 1px;
	}
	&__item {
		display: flex;
		align-items: center;
		padding: 18px;
		border-radius: 16px;
		transition: .2s;
		position: relative;
		&-info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-grow: 1;
			padding-left: 10px;
		}
		&-img {
			width: 70px;
			height: 70px;
			object-fit: cover;
			border-radius: 50%;
		}
		&-name {
			font-size: 18px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		&-floor {
			font-size: 14px;
			padding-top: 2px;
		}
		&::after {
			content: '';
			position: absolute;
			bottom: -1px;
			left: 14px;
			right: 14px;
			height: 1px;
			background-color: var(--white);
			opacity: 0.5;
		}
		&:hover {
			box-shadow: 0px 0px 10px 2px var(--white);
		}
	}
	.info-left {
		display: flex;
		flex-direction: column;
		max-width: 60%;
	}

}

@media (max-width: 1200px) {
	.collections {		
		&__list-item {
			width: 49%;
		}
		&__item {
			padding: 12px 10px;
			border-radius: 10px;
			&-img {
				width: 60px;
				height: 60px;
			}
			&-name {
				font-size: 14px;
			}
		}
	}
	.collections .info-left {
		flex-basis: 100px;
		max-width: 70%;
		flex-grow: 1;
	}
	.collections .info-right {
		flex-basis: 40px;
		max-width: 30%;
	}
}

@media (max-width: 640px) {
	.collections {		
		&__list-item {
			max-width: 400px;
			width: 100%;
			margin: 0 auto;
		}
		&__item {
			padding: 10px 8px;
			&-img {
				width: 50px;
				height: 50px;
			}
		}
	}
}