<div class="collections__wrapper">
	<div class="container">
		<div class="collections">
			<h2 class="title collections__title">
				Top Collections
			</h2>
			<ul class="collections__list">
				<li 
					*ngFor="let item of (items | async) | slice:0:9"
					class="collections__list-item">
					<a class="collections__item"
						[routerLink]="['/explore/collection']"
						[queryParams]="{id: item.id}">
						<img class="collections__item-img" src="http://localhost:3002/db/images/collections/icon-{{item.id}}.png" alt="Collection Icon">
						<div class="collections__item-info">
							<div class="info-left">
								<h5 class="collections__item-name">
									{{item.name}}
								</h5>
								<span class="collections__item-floor">
									Floor price: {{item.floor}}
								</span>
							</div>
							<div class="info-right">
								<span class="collections__item-change">
									{{item.change | percent}}
								</span>
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>