<div class="collections__wrapper">
	<div class="container">
		<div class="collections">
			<h2 class="title collections__title">
				Top Collections
			</h2>
			<ul class="collections__list">
				<li 
					*ngFor="let item of items"
					class="collections__list-item">
					<a class="collections__item" href="#">
						<img class="collections__item-img" src="db/images/collections/collection-1.png" alt="Collection Icon">
						<div class="collections__item-info">
							<div class="info-left">
								<h5 class="collections__item-name">
									{{item.name}}
								</h5>
								<span class="collections__item-floor">
									Floor price: {{item.floor}}
								</span>
							</div>
							<div class="info-right">
								<span class="collections__item-change">
									{{item.change}}
								</span>
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>