<div class="first-screen__wrapper">
	<app-header></app-header>
	<div class="container">
		<div class="first-screen">
			<div class="first-screen__text">
				<h1 class="title first-screen__title">
					NFT Marketplace
				</h1>
				<p class="subtitle first-screen__subtitle">
					buy, sell, create
				</p>

				<div class="first-screen__text-buttons">
					<a href="#" class="btn first-screen__link">
						Explore
					</a>
					<a href="#" class="btn first-screen__link">
						Create
					</a>
				</div>
			</div>
			<div class="first-screen__slider-wrapper">
				<app-vertical-swiper></app-vertical-swiper>
			</div>
		</div>
	</div>
</div>