.stats {
	&__wrapper {
		padding: 80px 0;
	}
	&__heading {
		text-align: center;
		padding: 20px 0;
	}
	&__subtitle {
		padding: 10px 0;
	}

	&__content {
		width: 900px;
		margin: 0 auto;
	}
	&__table {
		width: 100%;
		color: var(--black);
		border-collapse: collapse;
	}
	&__table-header {
		display: flex;
		background-color: var(--white);
		width: 100%;
		margin-bottom: 10px;
		padding: 0 20px;
		font-weight: 700;
	}
	&__table-row {
		background-color: var(--white);
		display: flex;
		border-bottom: 1px solid rgba(0, 0, 0, .2);
		padding: 0 20px;
		align-items: center;
	}
	&__row-icon {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		display: inline-block;
		margin-right: 20px;
	}
}

.col {
	padding: 20px 20px;
	&-collection {
		width: 50%;
		display: inline-block;
	}
	&-collection.col-cell {
		display: flex;
		align-items: center;
	}
	&-header {
		cursor: pointer;
	}
	&-floor,
	&-change {
		display: inline-block;
		flex-basis: 100px;
		flex-grow: 1;
		text-align: right;
		display: flex;
		justify-content: flex-end;
	}
}

@media (max-width: 1000px) {
	.stats {
		&__content {
			max-width: 900px;
			width: 100%;
		}
	}
}

@media (max-width: 900px) {
	.stats {
		&__content {
			max-width: 900px;
			width: 100%;
		}
		&__table-header {
			padding: 0;
		}
		&__table-row {
			padding: 0;
		}
	}
}

@media (max-width: 640px) {
	.stats {
		&__content {
			max-width: 900px;
			width: 100%;
		}
		&__table-header {
			padding: 0;
			align-items: center;
		}
		&__table-row {
			padding: 0;
		}
	}

	.col {
		padding: 10px;
		&-header {
			font-size: 14px;
		}
		&-change,
		&-floor {
			// width: 20px;
			font-size: 14px;
			flex-basis: 60px;
			padding: 10px 5px;
		}
		&-collection {
			white-space: nowrap;
			flex-grow: 2;
			& span {
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
	}
}