:root {
	--common-ff: 'Poppins', sans-serif;
	--white: #eee;
	--black: #111;
	--accent-gradient: linear-gradient(30deg, #77348E 0%, #34898E 100%);
	--accent-1: #77348E;
	--accent-2: #34898E;
	--bg-common: #202136
}