:root {
	--common-ff: 'Poppins', sans-serif;
	--white: #eee;
	--black: #111;
	--accent-gradient: linear-gradient(90.36deg, #77348E 0.31%, #34898E 99.74%);
	--accent-1: #77348E;
	--accent-2: #34898E;
	--bg-common: #202136
}