<div class="collections__wrapper">
	<div class="container">
		<div class="collections">
			<div class="collections__heading">
				<h2 class="collections__title">Explore Collections</h2>
			</div>
			<div class="collections__content"
				*ngIf="collections$ | async as collections">
				<div class="collections__item-wrapper"
					*ngFor="let col of collections">

					<a class="collections__item"
						[routerLink]="['collection']"
						[queryParams]="{id: col.id}">
						<img 
							class="image"
							src="http://localhost:3002/db/images/collections/bg-{{col.id}}.png" alt="">
						
						<p class="name">
							<img 
							class="icon"
							src="http://localhost:3002/db/images/collections/icon-{{col.id}}.png" alt="">
							{{col.name}}
						</p>
						<p class="descr">
							{{col.descr}}
						</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
